// nib is a powerful lib for stylus that provides cross-browser css3 mixins.
@import 'nib'

@import '_base'
@import '_ui'

// Import your styles here

@import '_states'
@import '_layout'
@import '_responsive'


body
  background-color: #fff
  font-family: "Helvetica Neue", Helvetica, Arial
  letter-spacing: -0.03em
  color: #000

h1
  font-size: 21px
  font-weight: 300
  color: #000
  margin: 40px

  span
    font-weight: 500
    cursor: hand
    cursor: pointer

